@import 'bootstrap';

.card {
    margin: 2rem 0;
  }
  
  .centerThisHoe {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: center;
  }

  .centerTitle {
    text-align: center;
  }